body{
font-family:Arial;
margin:0;
background:black;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
padding:20px;
background:#0a0a0a;
align-items:center;
}

.logo{
color:#00ff88;
}

nav ul{
display:flex;
gap:25px;
}

nav a{
color:white;
font-weight:bold;
}

nav a:hover{
color:#00ff88;
}

/* HERO */

.hero{
text-align:center;
padding:100px 20px;
}

/* SECTIONS */

section{
text-align:center;
padding:60px 20px;
}

/* CARDS */

.card{
border:1px solid #00ff88;
padding:20px;
margin:15px;
display:inline-block;
width:220px;
border-radius:8px;
transition:0.3s;
}

.card p{
font-size:14px;
color:#cccccc;
}

.card:hover{
background:#00ff88;
color:black;
}

/* EDUCATION */

.edu-box{
border:1px solid #00ff88;
display:inline-block;
padding:20px;
border-radius:8px;
}

/* FORM */

form{
display:flex;
flex-direction:column;
width:260px;
margin:auto;
gap:12px;
}

input, textarea{
padding:10px;
border:none;
border-radius:5px;
}

button{
padding:10px;
background:#00ff88;
border:none;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:white;
}
